version: '3'

services:
  traefik:
    container_name: traefik
    image: traefik:v2.3
    command:
      - --log.level=DEBUG
      - --entrypoints.http.address=:80
      - --entrypoints.https.address=:443
      - --api
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.letsencrypt.acme.email=EMAIL
      - --certificatesresolvers.letsencrypt.acme.storage=/acme.json
# enable this for acme server testing
#     - --certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
    ports:
      # The HTTP port
      - "80:80"
      # The HTTPS port
      - "443:443"
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.traefik_http.rule=Host(`traefik.DOMAIN`)"
      - "traefik.http.routers.traefik_http.entrypoints=http"
      - "traefik.http.routers.traefik_http.middlewares=auth, https_redirect"

      - "traefik.http.routers.traefik_https.rule=Host(`traefik.DOMAIN`)"
      - "traefik.http.routers.traefik_https.entrypoints=https"
      - "traefik.http.routers.traefik_https.tls=true"
      - "traefik.http.routers.traefik_https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik_https.service=api@internal"
      - "traefik.http.routers.traefik_https.middlewares=auth"

      - "traefik.http.middlewares.auth.basicauth.users=user:password"
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"
    environment:
      - CF_API_EMAIL=CLOUDFLARE_EMAIL
      - CF_API_KEY=CLOUDFLARE_KEY
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/acme.json:/acme.json

  web:
    container_name: web
    hostname: web
    image: php:7.4-apache
    volumes:
      - './sites/server.local/test/:/var/www/html/'
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.web_http.rule=Host(`web.server.local`)"
      - "traefik.http.routers.web_http.entrypoints=http"
      - "traefik.http.routers.web_http.middlewares=https_redirect"

      - "traefik.http.routers.web_https.rule=Host(`web.server.local`)"
      - "traefik.http.routers.web_https.entrypoints=https"
      - "traefik.http.routers.web_https.tls=true"
      - "traefik.http.routers.web_https.tls.certresolver=letsencrypt"

      - "traefik.http.middlewares.auth.basicauth.users=user:password"
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"

  pihole:
    container_name: pihole
    hostname: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      TZ: 'Europe/London'
      PROXY_LOCATION: pihole
      ServerIP: SERVERIP
      IPv6: 'true'
      VIRTUAL_HOST: pihole.DOMAIN
      VIRTUAL_PORT: 80
      DNS1: 127.0.0.1
      DNS2: 1.1.1.1
      WEBPASSWORD: 'PASSWORD'
      # WEBPASSWORD: 'set a secure password here or it will be random'
    # Volumes store your data between container upgrades
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.pihole_http.rule=Host(`pihole.DOMAIN`)"
      - "traefik.http.routers.pihole_http.entrypoints=http"
      - "traefik.http.routers.pihole_http.middlewares=https_redirect"

      - "traefik.http.routers.pihole_https.rule=Host(`pihole.DOMAIN`)"
      - "traefik.http.routers.pihole_https.entrypoints=https"
      - "traefik.http.routers.pihole_https.tls=true"
      - "traefik.http.routers.pihole_https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.pihole_https.middlewares=auth"

      - "traefik.http.middlewares.auth.basicauth.users=user:pass"
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"

      - "traefik.http.services.pihole.loadbalancer.server.port=80"

    restart: unless-stopped
